﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GomSpace.App</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/angular/angular.js"></script>
</head>
<body ng-app="app">

    @*<div class="container">*@
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">GomSpace Assignment</a>
                    </div>
                </div>
            </nav>
        </header>
    @*</div>*@

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - GomSpace.App
        </div>
    </footer>

    <script src="~/js/app.js"></script>

    <script src="~/js/services/apiCaller.js"></script>
    <script src="~/js/services/machineApi.js"></script>

    <script src="~/js/controllers/machineController.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
