﻿@{
    ViewData["Title"] = "GomSpace Assignment";
}

<div class="text-center" ng-controller="machineController">
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success pull-left" ng-click="generateGrid();"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Generate Grid</button>
        </div>
    </div>

    <div class="row mt-10">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary pull-left" ng-disabled="!isGridGenerated" ng-click="moveSingleStep();"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Move Single Step</button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary pull-left" ng-disabled="!isGridGenerated" ng-click="moveMultipleStep();"><span class="glyphicon glyphicon glyphicon-forward" aria-hidden="true"></span> Move Multiple Step</button>
            <input type="number" class="form-control pull-left" ng-model="stepNumber" />
        </div>
        <div class="col-sm-4">
            <form action="@ViewBag.Url" method="get" enctype="multipart/form-data">
                <button type="submit" ng-disabled="!isGridGenerated" class="btn btn-primary pull-right"> <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Export To File</button>
            </form>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-sm-12">
            <label for="staticEmail" class="col-form-label pull-left">Executed Step Number: <span class="text-color-red">{{surfaceModel.machine.stepNumber}}</span></label>
        </div>
    </div>

    <div class="row mt-10">
        <div class="col-sm-12">
            <table id="grid">
                <tr ng-repeat="(rowIdx, rowVal) in surfaceModel.grid.cells track by $index">
                    <td ng-repeat="(colIdx, colVal) in rowVal track by $index" ng-class="{ 'white-square' : (colVal === 0 || colVal === 2), 'black-square': colVal === 1}">
                        <span ng-if="rowIdx === surfaceModel.machine.y && colIdx === surfaceModel.machine.x" class="glyphicon {{arrowCss}}"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

