﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    line-height: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


.white-square {
    background: #ffffff;
    border: 1px solid #000000;
}

.black-square {
    background: #000000;
    border: 1px solid #ffffff;
}

table#grid > tbody > tr > td {
    width: 11px;
    height: 11px;
}

.mt-10 {
    margin-top: 10px;
}

.text-color-red {
    color: red;
}

.form-control {
    width: 30%;
    margin-left: 5px;
}

.glyphicon-circle-arrow-up,
.glyphicon-circle-arrow-right,
.glyphicon-circle-arrow-down,
.glyphicon-circle-arrow-left {
    font-size: 9px;
}
